# Trust Bank Data Pre-Processing Exploration

In [ ]:
SELECT 'TRUSTBANKDATA.raw.' || table_name AS full_table_name
FROM TRUSTBANKDATA.INFORMATION_SCHEMA.TABLES
WHERE table_schema = 'RAW';

## Transaction Tables

In [ ]:

// table diagnostic features 
-- 1. TRUSTBANK.raw.FCT_TRANSACTIONS
SELECT * FROM TRUSTBANKDATA.raw.FCT_TRANSACTIONS LIMIT 10;

In [ ]:
DESCRIBE TABLE TRUSTBANKDATA.raw.FCT_TRANSACTIONS

In [ ]:
SELECT
    TRANSACTIONID,
    COUNT(*)
FROM
    TRUSTBANKDATA.raw.FCT_TRANSACTIONS
GROUP BY
    TRANSACTIONID
HAVING
    COUNT(*) > 1;

In [ ]:
SELECT
    COUNT_IF(TRANSACTIONID IS NULL) AS missing_transaction_ids,
    COUNT_IF(TRANSACTIONSTARTDATETIME IS NULL) AS missing_start_datetime,
    COUNT_IF(TRANSACTIONENDDATETIME IS NULL) AS missing_end_datetime,
    COUNT_IF(CARDHOLDERID IS NULL) AS missing_cardholder_id,
    COUNT_IF(LOCATIONID IS NULL) AS missing_location_id,
    COUNT_IF(TRANSACTIONTYPEID IS NULL) AS missing_transaction_type_id
FROM
    TRUSTBANKDATA.raw.FCT_TRANSACTIONS

In [ ]:
SELECT
    TRANSACTIONTYPEID,
    COUNT(*) AS count
FROM
    TRUSTBANKDATA.raw.FCT_TRANSACTIONS
GROUP BY
    TRANSACTIONTYPEID
ORDER BY
    count DESC;

In [ ]:
SELECT
    CARDHOLDERID,
    COUNT(*) AS transaction_count,
    MIN(TRANSACTIONSTARTDATETIME) AS first_transaction,
    MAX(TRANSACTIONENDDATETIME) AS last_transaction
FROM
    TRUSTBANKDATA.raw.FCT_TRANSACTIONS
GROUP BY
    CARDHOLDERID
ORDER BY
    transaction_count DESC;

In [ ]:
SELECT
    MIN(TRANSACTIONSTARTDATETIME) AS min_start_date,
    MAX(TRANSACTIONENDDATETIME) AS max_end_date
FROM
    TRUSTBANKDATA.raw.FCT_TRANSACTIONS

## ATM_LOCATION_LOOKUP Table

In [ ]:

// table diagnostic features 
-- 1. TRUSTBANK.raw
SELECT * FROM TRUSTBANKDATA.raw.ATM_LOCATION_LOOKUP LIMIT 30;

In [ ]:
DESCRIBE TABLE TRUSTBANKDATA.raw.ATM_LOCATION_LOOKUP

In [ ]:
SELECT
    COUNT_IF(LOCATIONID IS NULL) AS missing_location_ids,
    COUNT_IF(LOCATION_NAME IS NULL) AS missing_location_names,
    COUNT_IF(NO_OF_ATMS IS NULL) AS missing_no_of_atms,
    COUNT_IF(CITY IS NULL) AS missing_cities,
    COUNT_IF(STATE IS NULL) AS missing_states,
    COUNT_IF(COUNTRY IS NULL) AS missing_countries,
    COUNT_IF(INSTALLATION_DATE IS NULL) AS missing_installation_dates,
    COUNT_IF(MAINTENANCE_DATE IS NULL) AS missing_maintenance_dates,
    COUNT_IF(OPERATIONAL_STATUS IS NULL) AS missing_operational_statuses,
    COUNT_IF(CASH_DEPOSIT_AVAILABLE IS NULL) AS missing_cash_deposit_available
FROM
   TRUSTBANKDATA.raw.ATM_LOCATION_LOOKUP

In [ ]:
SELECT City, SUM(No_of_ATMS) AS Total_ATMs
FROM TRUSTBANKDATA.raw.ATM_LOCATION_LOOKUP
GROUP BY City
ORDER BY Total_ATMs DESC;

In [ ]:
SELECT Operational_Status, COUNT(*) AS Number_of_Locations
FROM TRUSTBANKDATA.raw.ATM_LOCATION_LOOKUP
GROUP BY Operational_Status;

In [ ]:
SELECT *
FROM TRUSTBANKDATA.raw.ATM_LOCATION_LOOKUP
WHERE Maintenance_Date IS NULL;

In [ ]:
SELECT Cash_Deposit_Available, COUNT(*) AS Count
FROM TRUSTBANKDATA.raw.ATM_LOCATION_LOOKUP
GROUP BY Cash_Deposit_Available;

In [ ]:
SELECT Location_Name, MAX(Maintenance_Date) AS Latest_Maintenance_Date
FROM TRUSTBANKDATA.raw.ATM_LOCATION_LOOKUP
WHERE Maintenance_Date is not Null
GROUP BY Location_Name
ORDER BY Latest_Maintenance_Date DESC;

## Branch_Lookup Table

In [ ]:


// table diagnostic features 
-- 1. TRUSTBANK.raw
SELECT * FROM TRUSTBANKDATA.raw.BRANCH_LOOKUP LIMIT 30;

In [ ]:
SELECT
    Location,
    Yearly_Revenue_SGD
FROM TRUSTBANKDATA.raw.BRANCH_LOOKUP
ORDER BY CAST(Yearly_Revenue_SGD AS FLOAT) DESC
LIMIT 5;

In [ ]:
DESCRIBE TABLE TRUSTBANKDATA.raw.BRANCH_LOOKUP

## BRANCH_PERFORMANCE Table

In [ ]:

// table diagnostic features 
-- 1. TRUSTBANK.raw
SELECT * FROM TRUSTBANKDATA.raw.BRANCH_Performance LIMIT 30;

In [ ]:
DESCRIBE TABLE TRUSTBANKDATA.raw.BRANCH_Performance

In [ ]:
SELECT
    COUNT_IF(branch_id IS NULL) AS missing_branch_ids,
    COUNT_IF(date IS NULL) AS missing_dates,
    COUNT_IF(ATM_Usage_Count IS NULL) AS missing_atm_usage_counts,
    COUNT_IF(Average_Transaction_Time_Minutes IS NULL) AS missing_avg_transaction_times,
    COUNT_IF(Customer_Satisfaction_Score IS NULL) AS missing_customer_satisfaction_scores,
    COUNT_IF(Compliance_Issue_Count IS NULL) AS missing_compliance_issue_counts,
    COUNT_IF(Fraudulent_Transactions_Count IS NULL) AS missing_fraudulent_transaction_counts,
    COUNT_IF(New_Accounts_Opened_Count IS NULL) AS missing_new_accounts_opened_counts,
    COUNT_IF(Accounts_Closed_Count IS NULL) AS missing_accounts_closed_counts,
    COUNT_IF(Credit_Card_Applications_Received_Count IS NULL) AS missing_credit_card_applications_received_counts,
    COUNT_IF(Branch_Operational_Hours_Hours IS NULL) AS missing_branch_operational_hours,
    COUNT_IF(ATM_Operational_Hours_Hours IS NULL) AS missing_atm_operational_hours,
    COUNT_IF(Maintenance_Issues_Reported_Count IS NULL) AS missing_maintenance_issues_reported_counts,
    COUNT_IF(ATM_Downtime_Hours IS NULL) AS missing_atm_downtime_hours,
    COUNT_IF(Transaction_Error_Count IS NULL) AS missing_transaction_error_counts
FROM
   TRUSTBANKDATA.raw.BRANCH_Performance

In [ ]:
SELECT 
    branch_id, 
    AVG(CAST(ATM_Usage_Count AS INT)) AS Avg_ATM_Usage,
    AVG(Average_Transaction_Time_Minutes) AS Avg_Transaction_Time,
    AVG(Customer_Satisfaction_Score) AS Avg_Satisfaction_Score,
    SUM(Fraudulent_Transactions_Count) AS Total_Fraudulent_Transactions,
    SUM(New_Accounts_Opened_Count) AS Total_New_Accounts,
    AVG(CAST(ATM_Downtime_Hours AS FLOAT)) AS Avg_ATM_Downtime
FROM 
    TRUSTBANKDATA.raw.BRANCH_PERFORMANCE
GROUP BY 
    branch_id;

In [ ]:
SELECT 
    branch_id,
    AVG(Customer_Satisfaction_Score) AS Avg_Customer_Satisfaction,
    SUM(COMPLIANCE_ISSUE_Count) AS Total_Compliance_Issue
FROM
    TRUSTBANKDATA.raw.BRANCH_PERFORMANCE
GROUP BY 
    branch_id
ORDER BY 
    Avg_Customer_Satisfaction DESC;

In [ ]:
SELECT 
    branch_id,
    SUM(Credit_Card_Applications_Received_Count) AS Total_Credit_Applications,
    SUM(New_Accounts_Opened_Count) AS Total_New_Accounts,
    SUM(Accounts_Closed_Count) AS Total_Accounts_Closed
FROM 
    TRUSTBANKDATA.raw.BRANCH_PERFORMANCE
GROUP BY 
    branch_id;

In [ ]:
SELECT 
    branch_id,
    AVG(Average_Transaction_Time_Minutes) AS Avg_Transaction_Time,
    AVG(ATM_Operational_Hours_Hours) AS Avg_ATM_Operational_Hours
FROM 
    TRUSTBANKDATA.raw.BRANCH_PERFORMANCE
GROUP BY 
    branch_id
ORDER BY 
    Avg_Transaction_Time;

In [ ]:
SELECT 
    branch_id,
    SUM(Compliance_Issue_Count) AS Total_Compliance_Issues,
    SUM(Fraudulent_Transactions_Count) AS Total_Fraudulent_Transactions
FROM 
    TRUSTBANKDATA.raw.BRANCH_PERFORMANCE
GROUP BY 
    branch_id
ORDER BY 
    Total_Compliance_Issues DESC, 
    Total_Fraudulent_Transactions DESC;

In [ ]:
SELECT 
    branch_id,
    AVG(CAST(ATM_Downtime_Hours AS FLOAT)) AS Avg_ATM_Downtime_Hours,
    SUM(Maintenance_Issues_Reported_Count) AS Total_Maintenance_Issues
FROM 
    TRUSTBANKDATA.raw.BRANCH_PERFORMANCE
GROUP BY 
    branch_id;

## Branch Table

In [ ]:

// table diagnostic features 
-- 1. TRUSTBANK.raw
SELECT * FROM TRUSTBANKDATA.raw.BRANCH_TABLE LIMIT 100;

In [ ]:
SELECT
    COUNT_IF(branch_id IS NULL) AS missing_branch_ids,
    COUNT_IF(date IS NULL) AS missing_dates,
    COUNT_IF(Branch_Revenue_SGD IS NULL) AS missing_branch_revenue,
    COUNT_IF(Branch_Expenses_SGD IS NULL) AS missing_branch_expenses,
    COUNT_IF(Net_Income_SGD IS NULL) AS missing_net_income,
    COUNT_IF(Branch_Manager_ID IS NULL) AS missing_branch_manager_id,
    COUNT_IF(Avg_Daily_Branch_Transaction_Value_SGD IS NULL) AS missing_avg_daily_transaction_value,
    COUNT_IF(Pending_Transactions_Count IS NULL) AS missing_pending_transactions,
    COUNT_IF(Branch_Avg_Transaction_Queue_Length IS NULL) AS missing_avg_transaction_queue_length,
    COUNT_IF(Digital_Transactions_Volume_ IS NULL) AS missing_digital_transactions_volume,
    COUNT_IF(Branch_Internet_Downtime_Hours IS NULL) AS missing_internet_downtime
FROM
    TRUSTBANKDATA.raw.BRANCH_TABLE

In [ ]:
DESCRIBE TABLE TRUSTBANKDATA.raw.BRANCH_TABLE

In [ ]:
SELECT
    branch_id,
    SUM(CAST(Branch_Revenue_SGD AS FLOAT)) AS Total_Revenue,
    SUM(CAST(Branch_Expenses_SGD AS FLOAT)) AS Total_Expenses,
    SUM(CAST(Net_Income_SGD AS FLOAT)) AS Net_Income
FROM
    TRUSTBANKDATA.raw.BRANCH_TABLE
GROUP BY
    branch_id
ORDER BY
    Net_Income DESC;

## CALENDAR_LOOKUP

In [ ]:

// table diagnostic features 
-- 1. TRUSTBANK.raw
SELECT * FROM TRUSTBANKDATA.raw.calendar_lookup LIMIT 30;

In [ ]:
SELECT
    COUNT_IF(Date IS NULL) AS missing_date,
    COUNT_IF(Quarter IS NULL) AS missing_quarter,
    COUNT_IF(Month IS NULL) AS missing_month,
    COUNT_IF(Month_Name IS NULL) AS missing_month_name,
    COUNT_IF(DAY_OF_WEEK IS NULL) AS missing_day,
    COUNT_IF(IsHoliday IS NULL) AS missing_is_holiday,
    COUNT_IF(Day_Name IS NULL) AS missing_day_name,
    COUNT_IF(Week_of_Year IS NULL) AS missing_week_of_year,
    COUNT_IF(Year IS NULL) AS missing_year,
    COUNT_IF(END_OF_WEEK IS NULL) AS missing_start_of_month
FROM
    TRUSTBANKDATA.raw.calendar_lookup

In [ ]:
DESCRIBE TABLE TRUSTBANKDATA.raw.calendar_lookup

## CUSTOMERLOOKUP

In [ ]:
// table diagnostic features 
-- 1. TRUSTBANK.raw
SELECT * FROM TRUSTBANKDATA.raw.customerlookup LIMIT 30;

In [ ]:
SELECT
    COUNT_IF(CardholderID IS NULL) AS missing_cardholder_ids,
    COUNT_IF(First_Name IS NULL) AS missing_first_names,
    COUNT_IF(Last_Name IS NULL) AS missing_last_names,
    COUNT_IF(Gender IS NULL) AS missing_genders,
    COUNT_IF(ATMID IS NULL) AS missing_atm_ids,
    COUNT_IF(BIRTH_DATE IS NULL) AS missing_ages,
    
    COUNT_IF(AccountType IS NULL) AS missing_account_types,
    COUNT_IF(IsPrivateBanking IS NULL) AS missing_is_private_banking,
    COUNT_IF(Preferred_Contact_Method IS NULL) AS missing_preferred_contact_methods,
    COUNT_IF(CustomerSince IS NULL) AS missing_customer_since,
    COUNT_IF(PhoneNo IS NULL) AS missing_phone_numbers,
    COUNT_IF(Balance_SGD IS NULL) AS missing_balances,
    COUNT_IF("BRANCH-ID" IS NULL) AS missing_branch_ids,
    COUNT_IF(INVESTMENT_PORTFOLIO_VALUE__SGD IS NULL) AS missing_investment_portfolio_values
FROM
    TRUSTBANKDATA.raw.customerlookup

In [ ]:
DESCRIBE TABLE TRUSTBANKDATA.raw.CUSTOMERLOOKUP

In [ ]:
SELECT
    'Total Rows' AS Metric, COUNT(*) AS Value
FROM TRUSTBANKDATA.raw.CUSTOMERLOOKUP
UNION ALL
SELECT
    'Missing Cardholder IDs', COUNT_IF(CardholderID IS NULL)
FROM TRUSTBANKDATA.raw.CUSTOMERLOOKUP
UNION ALL
SELECT
    'Unique Cardholder IDs', COUNT(DISTINCT CardholderID)
FROM TRUSTBANKDATA.raw.CUSTOMERLOOKUP

In [ ]:
-- Account Type Distribution
SELECT AccountType, COUNT(*) AS Count
FROM TRUSTBANKDATA.raw.CUSTOMERLOOKUP
GROUP BY AccountType;

-- Enrollment in Private Banking
SELECT IsPrivateBanking, COUNT(*) AS Count
FROM TRUSTBANKDATA.raw.CUSTOMERLOOKUP
GROUP BY IsPrivateBanking;

-- Balance Distribution
SELECT AVG(Balance_SGD) AS Average_Balance, MIN(Balance_SGD) AS Min_Balance, MAX(Balance_SGD) AS Max_Balance
FROM TRUSTBANKDATA.raw.CUSTOMERLOOKUP
WHERE Balance_SGD IS NOT NULL;

In [ ]:
-- Check for undefined or unusual categories in Gender
SELECT Gender, COUNT(*) AS Count
FROM TRUSTBANKDATA.raw.CUSTOMERLOOKUP
GROUP BY Gender
HAVING Gender NOT IN ('Male', 'Female', 'Other') OR Gender IS NULL;

In [ ]:
-- Check for unusual entries in Account Type
SELECT AccountType, COUNT(*) AS Count
FROM TRUSTBANKDATA.raw.CUSTOMERLOOKUP
GROUP BY AccountType;

In [ ]:
-- Check consistency in the IsPrivateBanking field
SELECT IsPrivateBanking, COUNT(*) AS Count
FROM TRUSTBANKDATA.raw.CUSTOMERLOOKUP
GROUP BY IsPrivateBanking;

In [ ]:
-- Check for any irregularities in names (e.g., non-alphabetical characters, very short or long names)
SELECT First_Name, Last_Name, COUNT(*) AS Count
FROM TRUSTBANKDATA.raw.CUSTOMERLOOKUP
GROUP BY First_Name, Last_Name
HAVING LENGTH(First_Name) < 2 OR LENGTH(Last_Name) < 2;

In [ ]:
-- Analysis of phone number formats
SELECT PhoneNo, COUNT(*) AS Count
FROM TRUSTBANKDATA.raw.CUSTOMERLOOKUP
WHERE PhoneNo NOT LIKE '+%' AND PhoneNo NOT LIKE '(%'  -- assuming phone numbers should start with a '+' or are formatted
GROUP BY PhoneNo;

In [ ]:
-- Check for outliers in Balance and Investment Portfolio Value
SELECT 
    MIN(Balance_SGD) AS Min_Balance,
    MAX(Balance_SGD) AS Max_Balance,
    AVG(Balance_SGD) AS Avg_Balance,
    MIN(Investment_Portfolio_Value__SGD) AS Min_Investment,
    MAX(Investment_Portfolio_Value__SGD) AS Max_Investment,
    AVG(Investment_Portfolio_Value__SGD) AS Avg_Investment
FROM TRUSTBANKDATA.raw.CUSTOMERLOOKUP

In [ ]:
-- Identifying duplicate records
SELECT CardholderID, COUNT(*) AS Count
FROM TRUSTBANKDATA.raw.CUSTOMERLOOKUP
GROUP BY CardholderID
HAVING COUNT(*) > 1;

## Customer_Demographics

In [ ]:
// table diagnostic features 
-- 1. TRUSTBANK.raw
SELECT * FROM TRUSTBANKDATA.raw.customer_demographics LIMIT 100;

In [ ]:
SELECT
    COUNT(*) AS Total_Records,
    COUNT_IF(Gender IS NULL) AS Missing_Gender,
    COUNT_IF(Occupation IS NULL) AS Missing_Occupation,
    COUNT_IF(AccountType IS NULL) AS Missing_AccountType,
    COUNT_IF(IsPrivateBanking IS NULL) AS Missing_IsPrivateBanking,
    COUNT_IF(Marital_Status IS NULL) AS Missing_Marital_Status,
    COUNT_IF(Education_Level IS NULL) AS Missing_Education_Level,
    COUNT_IF(Age IS NULL) AS Missing_Age,
    COUNT_IF(Address IS NULL) AS Missing_Address,
    COUNT_IF(District IS NULL) AS Missing_District,
    COUNT_IF(Citizenship IS NULL) AS Missing_Citizenship,
    COUNT_IF(Language_Preference IS NULL) AS Missing_Language_Preference,
    COUNT_IF(Age_Group IS NULL) AS Missing_Age_Group,
    COUNT_IF(Income_Frequency IS NULL) AS Missing_Income_Frequency,
    COUNT_IF(Homeownership IS NULL) AS Missing_Homeownership
FROM customer_demographics;

In [ ]:
DESCRIBE TABLE customer_demographics;

In [ ]:
-- Checking Address Consistency
SELECT Address, COUNT(*) AS Count
FROM customer_demographics
GROUP BY Address
HAVING COUNT(*) > 1;

In [ ]:
-- Age Analysis for Outliers
SELECT MIN(Age) AS Min_Age, MAX(Age) AS Max_Age, AVG(Age) AS Average_Age
FROM customer_demographics
WHERE Age IS NOT NULL;

In [ ]:
-- Check for unusual or incorrectly formatted data in Citizenship
SELECT Citizenship, COUNT(*) AS Count
FROM customer_demographics
GROUP BY Citizenship

In [ ]:
-- Distribution by Education Level
SELECT Education_Level, COUNT(*) AS Count
FROM customer_demographics
GROUP BY Education_Level;

In [ ]:
-- Analysis of Homeownership
SELECT Homeownership, COUNT(*) AS Count
FROM customer_demographics
GROUP BY Homeownership;

In [ ]:


-- Detailed Distribution in Age Groups
SELECT Age_Group, COUNT(*) AS Count
FROM customer_demographics
GROUP BY Age_Group;

## Generated Investment Data

In [ ]:
// table diagnostic features 
-- 1. TRUSTBANK.raw
SELECT * FROM TRUSTBANKDATA.raw.generated_investment_data LIMIT 30;

In [ ]:
SELECT
    COUNT(*) AS Total_Records,
    COUNT_IF(InvestmentID IS NULL) AS Missing_InvestmentID,
    COUNT_IF(CustomerD IS NULL) AS Missing_CustomerID,
    COUNT_IF(Investment_Type IS NULL) AS Missing_Investment_Type,
    COUNT_IF(Investment_Amount_SGD IS NULL) AS Missing_Investment_Amount,
    COUNT_IF(Investment_Start_Date IS NULL) AS Missing_Start_Date,
    COUNT_IF(Investment_Maturity_Date IS NULL) AS Missing_Maturity_Date,
    COUNT_IF(Expected_ROI_ IS NULL) AS Missing_Expected_ROI,
    COUNT_IF(Actual_ROI_ IS NULL) AS Missing_Actual_ROI,
    COUNT_IF(Risk_Level IS NULL) AS Missing_Risk_Level,
    COUNT_IF(Performance_Indicator IS NULL) AS Missing_Performance_Indicator
FROM generated_investment_data;

In [ ]:
DESCRIBE TABLE TRUSTBANKDATA.raw.generated_investment_data

In [ ]:
-- Check for investment amounts and ROIs that do not follow expected ranges or formats
SELECT
    MIN(Investment_Amount_SGD) AS Min_Amount,
    MAX(Investment_Amount_SGD) AS Max_Amount,
    AVG(Investment_Amount_SGD) AS Avg_Amount,
    MIN(Expected_ROI_) AS Min_Expected_ROI,
    MAX(Expected_ROI_) AS Max_Expected_ROI,
    MIN(Actual_ROI_) AS Min_Actual_ROI,
    MAX(Actual_ROI_) AS Max_Actual_ROI
FROM TRUSTBANKDATA.raw.generated_investment_data

In [ ]:
-- Check for any investments where the maturity date is before the start date
SELECT COUNT(*) AS Count_Inconsistent_Dates
FROM TRUSTBANKDATA.raw.generated_investment_data
WHERE Investment_Maturity_Date < Investment_Start_Date;

In [ ]:
-- Validate risk levels are within predefined categories
SELECT Risk_Level, COUNT(*) AS Count
FROM TRUSTBANKDATA.raw.generated_investment_data
GROUP BY Risk_Level
HAVING Risk_Level NOT IN ('Low', 'Medium', 'High');  -- Assuming these are the standard categories

In [ ]:
-- Distribution of investment types
SELECT Investment_Type, COUNT(*) AS Total
FROM TRUSTBANKDATA.raw.generated_investment_data
GROUP BY Investment_Type;

In [ ]:
-- Performance analysis by risk level
SELECT Risk_Level, AVG(Actual_ROI_) AS Avg_Actual_ROI, COUNT(*) AS Count
FROM TRUSTBANKDATA.raw.generated_investment_data
GROUP BY Risk_Level;

In [ ]:
-- Performance indicators across investment types
SELECT Investment_Type, AVG(Expected_ROI_) AS Avg_Expected_ROI, AVG(Actual_ROI_) AS Avg_Actual_ROI
FROM TRUSTBANKDATA.raw.generated_investment_data
GROUP BY Investment_Type;

In [ ]:
-- Detecting outliers in investment amounts
SELECT
    Investment_Type,
    Investment_Amount_SGD
FROM TRUSTBANKDATA.raw.generated_investment_data
WHERE Investment_Amount_SGD > (SELECT AVG(Investment_Amount_SGD) + 3 * STDDEV(Investment_Amount_SGD) FROM TRUSTBANKDATA.raw.generated_investment_data)
   OR Investment_Amount_SGD < (SELECT AVG(Investment_Amount_SGD) - 3 * STDDEV(Investment_Amount_SGD) FROM TRUSTBANKDATA.raw.generated_investment_data);

## Hour_Lookup

In [ ]:
// table diagnostic features 
-- 1. TRUSTBANK.raw
SELECT * FROM TRUSTBANKDATA.raw.hour_lookup LIMIT 30;

In [ ]:
SELECT
    COUNT(*) AS Total_Records,
    COUNT_IF(Hour_Key IS NULL) AS Missing_Hour_Key,
    COUNT_IF(Hour_Start_Time IS NULL) AS Missing_Hour_Start_Time,
    COUNT_IF(Hour_End_Time IS NULL) AS Missing_Hour_End_Time
FROM hour_lookup;

In [ ]:
DESCRIBE TABLE TRUSTBANKDATA.raw.generated_investment_data

In [ ]:
SELECT
    Hour_Key,
    Hour_Start_Time,
    Hour_End_Time
FROM hour_lookup
WHERE Hour_End_Time <= Hour_Start_Time;

In [ ]:
SELECT
    Hour_Key,
    COUNT(*) AS Count
FROM hour_lookup
GROUP BY Hour_Key
HAVING COUNT(*) > 1;

# Loan

In [ ]:
// table diagnostic features 
-- 1. TRUSTBANK.raw
SELECT * FROM TRUSTBANKDATA.raw.Loan LIMIT 30;

In [ ]:
Describe Table Loan

In [ ]:
-- Check for missing or NULL values in key columns
SELECT
    COUNT(*) AS Total_Rows,
    COUNT(CardholderID) AS Non_Null_CardholderID,
    COUNT(Loan_ID) AS Non_Null_Loan_ID,
    COUNT(Loan_Amount) AS Non_Null_Loan_Amount,
    COUNT(Interest_Rate_) AS Non_Null_Interest_Rate,
    COUNT(Loan_Term_Months) AS Non_Null_Loan_Term,
    COUNT(Monthly_Income) AS Non_Null_Monthly_Income,
    COUNT(Credit_Score) AS Non_Null_Credit_Score,
    COUNT(Loan_Repayment_Status) AS Non_Null_Loan_Repayment_Status,
    COUNT(Loan_Repaid) AS Non_Null_Loan_Repaid,
    COUNT(Loan_Balance) AS Non_Null_Loan_Balance
FROM Loan;

In [ ]:
SELECT
    'Total Rows' AS Metric, COUNT(*) AS Value
FROM loan
UNION ALL
SELECT
    'Unique Loan IDs', COUNT(DISTINCT Loan_ID)
FROM loan
UNION ALL
SELECT
    'Missing Loan Amounts', COUNT_IF(Loan_Amount IS NULL)
FROM loan;

In [ ]:
-- Check for duplicate Loan_IDs
SELECT 
    Loan_ID, 
    COUNT(*) AS Duplicate_Count
FROM Loan
GROUP BY Loan_ID
HAVING COUNT(*) > 1;

In [ ]:
-- Check for unusually high or low Loan Amounts
SELECT 
    MIN(Loan_Amount) AS Min_Loan_Amount, 
    MAX(Loan_Amount) AS Max_Loan_Amount, 
    AVG(Loan_Amount) AS Avg_Loan_Amount
FROM Loan;

In [ ]:
-- Check for extreme Credit Scores (should be between 300 and 850)
SELECT 
    MIN(Credit_Score) AS Min_Credit_Score, 
    MAX(Credit_Score) AS Max_Credit_Score, 
    AVG(Credit_Score) AS Avg_Credit_Score
FROM Loan
WHERE Credit_Score < 300 OR Credit_Score > 850;

In [ ]:
-- Check for unusually low or high Monthly Income
SELECT 
    MIN(Monthly_Income) AS Min_Monthly_Income, 
    MAX(Monthly_Income) AS Max_Monthly_Income, 
    AVG(Monthly_Income) AS Avg_Monthly_Income
FROM Loan;

In [ ]:
-- Check for loans that are fully repaid but still have a non-zero loan balance
SELECT 
    Loan_ID, 
    Loan_Amount, 
    Loan_Repaid, 
    Loan_Balance
FROM Loan
WHERE Loan_Repaid = Loan_Amount AND Loan_Balance > 0;

In [ ]:
-- Check for loans where the loan balance exceeds the loan amount
SELECT 
    Loan_ID, 
    Loan_Amount, 
    Loan_Balance
FROM Loan
WHERE Loan_Balance > Loan_Amount;

In [ ]:
-- Check for valid Interest Rates (should be between 0 and 100)
SELECT 
    MIN(Interest_Rate_) AS Min_Interest_Rate, 
    MAX(Interest_Rate_) AS Max_Interest_Rate
FROM Loan
WHERE Interest_Rate_ < 0 OR Interest_Rate_ > 100;

In [ ]:
-- Check for valid Loan Term (should be positive)
SELECT 
    MIN(Loan_Term_months) AS Min_Loan_Term, 
    MAX(Loan_Term_months) AS Max_Loan_Term
FROM Loan
WHERE Loan_Term_months <= 0;

## Transaction_Type_Lookup

In [ ]:
// table diagnostic features 
-- 1. TRUSTBANK.raw
SELECT * FROM TRUSTBANKDATA.raw.transaction_type_lookup LIMIT 30;

In [ ]:
Describe Table TRUSTBANKDATA.raw.transaction_type_lookup

# Summary of Issues / Things to fix

1.Datetime Column Format Issues: Some datetime columns have incorrect formats that need standardization.\
2.Inconsistent Spelling/Standardization: Various column names have inconsistent spelling or lack standard naming conventions, which should be standardized.\
3.Values from Lookup tables do not correlate with values from actual tables , e.g. Loan etc...\
4.Branch Table , Date column random does not have any clear definition\
5.Null Values in Tables \
6.Combination of the Transaction Tables (FCT,etc..)